.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 5px;
}

.header_logo{
    object-fit: contain;
    height: 40px;
}

.header_icon{
    padding:20px;
    
}